body {
    background-color:#FFFFE1;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}
li {
    float: left;
}

li a {
    display:block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.bodyOne{
    text-align:center;
    background-color:#ECFFF7;
}
.center{
    text-align:center;
}
.bodyTwo{
    column-count:3;
    column-gap:400px;
    background-color:#FFFFE1;
}
.bodyThree{
 text-align:center;
 background-color:#ECFFF7;
}
#buttonTwo{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}
.bodyFour{
    column-count:6;
    column-gap:10px;
    background-color:#FFFFE1;
}
